@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,body{

    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.first-container{
    width: 870px;
    max-width: 100%;
    background-color: #fff;
}
h1{
    justify-content: flex-start;
    padding: 0 2.5em;
    color: #562EFF;
}
.players{
    display: grid;
    grid-template-columns:  repeat(3,1fr);
    gap: 10px 30px;
}
.player{
    display: flex;
    margin: auto 1rem;
   align-items: center;
   justify-content: center;
   padding-bottom: 2rem;
}
.player img{
    width: 56px;
    height: 56px;
    max-width: 100%;;
    max-height:100%;
    object-fit: cover;
   
}
.player h3{
   margin: auto 1rem;
}
hr{
    border: 1px solid #D1D1D1;
  
}
.second-content{
    width: 870px;
    max-width: 100%;
    background-color: #fff;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px 30px;
}
.blog{
    display: flex;
    align-items: center;
}

.blog-img{
    width: 190px;
    height: 130px;
}
.blog img{
    width: 100%;
    height: 100%;
}
.blog-details{
margin-left: 1rem;
}
.blog-details p{
    color:#9F9F9F;
}
.blog-details a{
    color: #562EFF;
    text-decoration: none;
}